@use "../../../scss/utils" as *;

.root {
  padding-top: rem(44);
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 50%;

  &:first-child {
    margin-right: rem(34);
  }
}