/* stylelint-disable order/order */
@use "./utils/" as *;

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.overflowHiddenX {
  overflow-x: hidden;
}

.container {
  max-width: rem(973);

  @include bp-up("container") {
    margin-inline: auto;
  }

  @include bp-down("container") {
    margin-inline: rem(42);
  }

  @include bp-down("992") {
    margin-inline: rem(28);
  }

  @include bp-down("576") {
    margin-inline: rem(14);
  }


  &Wide {
    max-width: rem(1442);

    @include bp-up("container-wide") {
      margin-inline: auto;
    }

    @include bp-down("container-wide") {
      // max-width + 30*2(margin-inline) + 20(scrollbar)
      margin-inline: rem(42);
    }

    @include bp-down("992") {
      margin-inline: rem(28);
    }

    @include bp-down("576") {
      margin-inline: rem(14);
    }
  }


  &Narrow {
    max-width: rem(708);

    @include bp-up("container-narrow") {
      margin-inline: auto;
    }

    @include bp-down("container-narrow") {
      margin-inline: rem(28);
    }

    @include bp-down("576") {
      margin-inline: rem(14);
    }
  }
}

// **
.input {
  outline: none;
  border: rem(1) solid var(--background-color);
  border-radius: rem(15);
  padding-block: rem(11);
  padding-inline: rem(14);
  width: 100%;
  font: var(--title-font);
  color: var(--light-color);
  background-color: var(--background-color);
  transition: border-color 0.3s, background-color 0.3s;

  &Wrapper {
    position: relative;
    font-size: 0;

    &Inner {
      position: relative;
    }

    &Active {
      @extend .inputWrapper;

      >.input {
        border-color: var(--danger-color);
        background-color: var(--danger-color);
      }
    }
  }

  // **
  &::placeholder {
    font: inherit;
    color: inherit;
  }

  &:focus {
    border: rem(1) solid var(--black-color);
  }
}

.btn {
  display: inline-block;
  border: rem(2) solid var(--background-color);
  border-radius: rem(15);
  padding-top: rem(13);
  padding-bottom: rem(15);
  padding-inline: rem(55);
  font: var(--title-font);
  color: var(--light-color);
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &Wrapper {
    position: relative;
  }

  &:hover {
    color: var(--background-color);
    background-color: transparent;
  }

  &:focus {
    color: var(--background-color);
    background-color: transparent;
  }

  &Light {
    color: var(--background-color);
    background-color: var(--light-color);

    &:hover {
      border-color: var(--light-color);
      color: var(--light-color);
      background-color: transparent;
    }

    &:focus {
      border-color: var(--light-color);
      color: var(--light-color);
      background-color: transparent;
    }
  }
}

.checkbox {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  outline: none;
  border: rem(1) solid var(--mediumgray-color);
  border-radius: rem(3);
  width: rem(16);
  height: rem(16);
  background-color: transparent;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
  user-select: none;

  svg {
    width: rem(14);
    height: rem(14);
    stroke: var(--black-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }

  &Wrapper {
    text-align: left;

    &Active {
      text-align: left;

      >.checkboxMessage {
        display: block;
      }
    }
  }

  &Label {
    font: var(--body01-font);
    word-break: break-all;
  }

  &Checked {
    border-color: var(--mediumgray-color);

    svg {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    border-color: var(--purple-color);

    svg {
      stroke: var(--purple-color);
    }
  }

  &:focus {
    border-color: var(--black-color);

    svg {
      stroke: var(--black-color);
    }
  }
}

// **
.select {
  position: relative;
  cursor: pointer;

  &Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);

    &:hover {
      color: var(--black-color);
    }

    &Active {
      color: var(--black-color);
    }
  }

  &Selected {
    display: block;
    overflow: hidden;
    margin-right: rem(4);
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s;
    user-select: none;
  }

  &Wrapper {
    position: absolute;
    left: rem(-1);
    top: calc(100% + rem(4));
    z-index: var(--z-postup);
    border: rem(1) solid var(--mediumgray-color);
    border-radius: rem(4);
    width: calc(100% + rem(2));
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: default;

    &Active {
      opacity: 1;
      visibility: visible;
    }
  }

  &List {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    padding-block: rem(10);
    background-color: var(--light-color);
  }

  &Item {
    outline: none;
    border: none;
    padding-block: rem(4);
    color: var(--black-color);
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: var(--yellow-hover060-color);
    }

    &:focus {
      border: none;
      background-color: var(--yellow-hover060-color);
    }

    &Active {
      background-color: var(--yellow-color);
    }
  }
}

// **
.skeleton {
  position: relative;
  display: block;
  border-radius: rem(4);
  background-color: var(--light-color);
  pointer-events: none;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ccca 40%, #fffa, #ccca 60%) right/300% 100%;
    animation: var(--skeleton-animation);
  }
}